*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.wrapper{
    background: url("https://i.postimg.cc/SQMSVQQ2/vision.png");
}
.site{
    background-color: #27292d;
    color:#ccc;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.9);
}
.header-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000002;
    position: sticky;
    height: 100%;
    top: 0;
}
.header-page__logo{
    width: 7rem;
}
.aside-menu{
    position: fixed;
    top: 0;
    z-index: 111;
    width: 22rem;
    max-width: 100%;
    height: 100%;
    background-color: #27292d;
    right: 0;
    padding: 3rem;
    transition: all 0.5s ease;
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.9);
}
.aside-menu__wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.aside-menu__wrapper a{
    color: #08f;
    padding: 1rem 0 1rem 0;
    border-bottom: 1px solid;
    font-weight: 800;
}
.aside-activate{
    transform: translate(25rem);
    transition: all 0.5s ease;
}
.aside-menu__close{
    z-index: 1;
    display: block;
    text-align: center;
    left: 46%;
    right: auto;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
}
.container-hamburger{
    display: block;
    cursor: pointer;
    z-index: 10;
    position: relative;
}
.container-hamburguer__line{
    width: 2rem;
    height: 0.25rem;
    background-color: #08f;
    margin: 0.25rem;
    transition: all 0.3s ease;
}
.content{
    display: flex;
    flex-direction: column;
}
.content-home-1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.content-home__text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}
.content-home__text__list{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.picture-home-1{
    width: 100%;
    height: 27rem;
}
.home-img{
    width: 100%;
    height: 100%;
}
.content-home-2{
    display: flex;
    padding: 1rem;
    gap: 1rem;
}
.picture-home-2{
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.9);
}
.name-section{
    text-align: center;
    padding-top: 2rem;
}
.form-login{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    align-items: center;
}
.form-login input{
    padding: 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #ccc;
}
.form-login .submit{
    background-color: #08f;
    color: white;
    border: none;
    border-radius: 0.3rem;
    width: max-content;
}
.product{
    padding: 1rem;
    text-align: center;
}
.product h2{
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.table-product-head{
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
}
.table-product-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.table-product-body-item{
    display: flex;
    gap: 1rem;
    padding: 0.6rem;
    background-color: #4f5156;
    flex-flow: wrap;
}
.table-product-item{
    width: 26%;
    text-align: center;
}
.item-head{
    background-color: darkslateblue;
    border-radius: 5px;
    padding: 0.5rem;
    width: max-content;
}
.button-product{
    background-color: #08f;
    color: white;
    padding: 0.2rem;
    border-radius: 0.2rem;
}
.register{
    padding: 1rem;
    text-align: center;
    font-style: italic;
}
.register-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}
.register-form input{
    padding: 1rem;
    font-size: 1rem;
}
.register-form select{
    padding: 1rem;
    font-size: 1rem;
}
.register-form .submit{
    background-color: #08f;
    color: white;
    border: none;
    border-radius: 0.3rem;
}
.edit-product{
    padding: 1rem;
    text-align: center;
    font-style: italic;
}
.content-exit{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    align-items: center;
}
.wrapper-reports{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}
.wrapper-reports__product{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.wrapper-reports__product a{
    background-color: #08f;
    padding: 0.5rem;
    color: white;
    border-radius: 0.2rem;
    width: max-content;
}
.wrapper-reports__user{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.wrapper-reports__user__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.wrapper-reports__user__form select{
    padding: 1rem;
    font-size: 0.9rem;
}
.wrapper-reports__user__form__submit{
    background-color: #08f;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
    width: max-content;
}
.content-exit__button{
    background-color: #08f;
    color:white;
    padding: 1rem;
    border-radius: 0.3rem;
    width: max-content;
}
.footer-page{
    background-color: #4f5156;
}
.footer-page__version{
    text-align: center;
    padding: 1rem;
}
@media only screen and (min-width: 1020px){
    .site{
        max-width: 80%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: auto;
        margin-right: auto;
    }
    .content-home-1{
        flex-direction: row;
    }
    .table-product-body-item{
        flex-wrap: nowrap;
    }
    .item-head{
        width: 26%;
    }
    .wrapper-reports{
        flex-direction: row;
    }
    .wrapper-reports__product{
        width: 50%;
    }
    .wrapper-reports__user{
        width: 50%;
    }
}